<h1 class="current-category"> <%= params[:category]%> </h1>

<%if @restaurants.count == 0%>
    <h1> No restaurants in this category </h1>
    
 <%else%>

 <div class="row">
  <%  @restaurants.each do |restaurant| %>
   <div class="col-md-3">
   <a href="/restaurants/<%= restaurant.id %>">
      <%= image_tag restaurant.place_pic.url(:place_index), class: "restaurant"  %>
   </a>
   </div>
   <% end %>
  </div>
<% end %>